.container.testimonials_container {
  width: 70%;
  padding-bottom: 4rem;
}

.client_avatar {
  width: 40%;
  height: 40%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
  background: var(--color-bg-variant);
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.client_review {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}

.portfolio_description_container {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 2rem;
}

/****************** Media queries *************/
@media screen and (max-width: 1024px) {
  .container.testimonials_container {
    width: 60%;
  }
}

/****************** Media queries *************/
@media screen and (max-width: 600px) {
  .container.testimonials_container {
    width: var(--container-width-sm);
  }

  .client_review {
    width: var(--container-width-sm);
  }
}
